<!-- <H2>各種申請・確認（改装中）</H2> -->

<style>
  .rails-default-error-page {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

</style>

<body class="rails-default-error-page">
  <div class="dialog">
  <%= image_tag '武士謝罪.png', :size => '270x170'  %>
    
    <div>
      <h1>改装中でござる。</h1>
    </div>
    <p>現在このページは改装中のためご使用いただくことができません。</p>
    <p>ご不便おかけしますが何卒ご理解のほどよろしくお願い申し上げます。</p>
    <a href="https://sleepy-headland-81712.herokuapp.com/attendances">TOPに戻る</a>
  </div>
  </body>

<%# if current_user.admin? %>
<%#= link_to '月締め一覧', new_holiday_path %><br>
<%# end %>

<%# if current_user.superuser? %>
<%#= link_to '有給承認', new_holiday_path %><br>
<%# end %>

<%# if current_user.general? %>
<%#= link_to '有給申請', new_holiday_path %><br>
<%# end %>