.header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, transparent, black);
  }

  .header .wrapper{
    justify-content: space-between;
    display: flex;
  }
  .header .wrapper .nav .btn{
    color: ivory;
    text-decoration: none;
    display: block; /*幅と高さを持ったブロック要素*/
    line-height: 55px; /*ヘッダーの高さと同じ60px*/
    padding: 0 20px; /*各リスト項目の余白左右20px*/
  }
  
  .footer {
    width: 100%;
    height: 40px;
    background: black;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
  } 

.footer p{
    color: ivory;
    text-align: center;
  }
  
