// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
tbody{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  tbody th,tbody td{
    padding: 10px 0;
    text-align: center;
  }
  
  tbody tr:nth-child(odd){
    background-color: rgba(251, 215, 227, 0.4)
  }