<div class="container-fluid text-center">

<H4><%= @attendance.attendance_date.strftime("%Y年%-m月%-d日") %></H4>

<%= render 'form2', attendance: @attendance %>

<%= link_to 'Back', attendances_path %>
